html {
    font-family: Arial,sans-serif;
}
header {
    font-size: 34px;
}
header > h1, body > p, body > main, nav, footer > address, footer > p {
    max-width: 987px;
    margin: auto;
}
nav a {
    text-decoration: none;
    font-size: 13px;
}
footer {
    margin-top: 100px;
}
