html {
    font-family: arial;
}
header {
    border-bottom: 1px solid silver;
}
header > h1, body > p, body > main, nav, footer > address, footer > p {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
nav a {
text-decoration: none;
}
footer {
    background: #648ff1;
    color: white;
    margin-top: 100px;
}
